body {
    background: gray;
}

.main {
    border: 2px solid black;

    margin: 25px 400px 0 400px;
    text-align: center;
    font-size: medium;
    background: white;
}

img {
    width: 380px;
    border: 3px solid black;
}

p {
    font-style: italic;
}

input {
    border: 3px solid black;
    width: 200px;
    text-align: center;
    padding: 5px 10px;
}

button {
    margin-top: 10px;
    width: 225px;
    border: 3px solid black;
    background: black;
    color: white;
    padding: 5px 10px;

}

h1 {
    color: #121212;
}

