#div1 {
    background: url(pexels-ekamelev-1685588.jpg);
    background-size: cover;
    height: 550px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 10px 50px 10px 50px;
}

a {
    color: white;
}

span {
    margin-right: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff9f9;
}

p {
    text-align: right;
}

h1 {
    font-size: 130px;
    margin-top: 125px;
    font-family: fantasy;
    color: orangered;
    opacity: 25%;
    text-align: left;
}

.contact {
    text-align: left;
    padding: 5px 30px;
    margin-top: 72px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    font-size: 20px;
    background-color: #fff9f9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.details {
    margin-top: 72px;
    padding: 5px 30px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    font-size: 15px;
    background-color: rgba(245, 245, 245, 0.308);
    color: #fff9f9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#contact {
    display: flex;
    position: absolute;
bottom: 40px;
}

#div2 {
    display: flex;
}

.list {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    margin-top: 75px;
}